*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
ul {
  margin: 0px;
}

body {
  font-family: Roboto, sans-serif;
  position: relative;
  background: #ffffff;
  line-height: 2;
}

img {
  display: block;
}

p {
  font-weight: 400;
  color: #757575;
}

button:active, button:hover, button:focus {
  cursor: pointer;
  -webkit-transition-property: background-color, border, color, fill, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border, color, fill, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border, color, box-shadow, fill, transform;
  transition-property: background-color, border, color, box-shadow, fill, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover, a:focus, a:active {
  color: #2196f3;
  cursor: pointer;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
  color: #212121;
}

h3 {
  font-weight: 500;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: space-between;
            flex-direction: space-between;
    border-bottom: 1px solid #ececec;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (mid-width: 1200px) {
  .nav {
    color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  .nav-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-pages__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-pages a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 76px;
    color: #212121;
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-pages .current {
    position: relative;
    height: 100%;
    color: #2196f3;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-pages .current::after {
    content: " ";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .nav li a {
    position: relative;
    height: 100%;
  }
  .nav li a:hover, .nav li a:focus, .nav li a:active {
    color: #2196f3;
    -webkit-transition-property: background-color, border, color, fill, -webkit-box-shadow, -webkit-transform;
    transition-property: background-color, border, color, fill, -webkit-box-shadow, -webkit-transform;
    transition-property: background-color, border, color, box-shadow, fill, transform;
    transition-property: background-color, border, color, box-shadow, fill, transform, -webkit-box-shadow, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

address {
  width: 231px;
  left: 215px;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 9px;
}
/*# sourceMappingURL=main.css.map */