footer {
  background: $section-background;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;

  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;

  & .container {
    display: flex;
  }
  & li {
    line-height: 1.7;
  }
}
.logo-and-contacts {
  margin-right: 70px;
}
