.mobile-menu {
  position: absolute;
  background-color: $body-background;
  padding-top: 0;
  padding-left: 40px;
  width: 100%;
  &-pages,
  &-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &-socnetworks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.mobile-menu {
  display: none;
}
.mobile-menu.is-open {
  display: block;
}
.mobile-menu.is-open .mobile-menu__button-close-icon {
  display: block;
}

.mobile-menu.is-open .mobile-menu__button-open-icon {
  display: none;
}
.mobile-menu.is-open .mobile-menu-pages {
  margin-bottom: 302px;
}
.mobile-menu-pages a {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $headline-color;
  &:hover,
  &:focus,
  &:active {
    color: $hover-color;
  }
}
.mobile-menu-pages__item:not(:last-child) {
  margin-bottom: 30px;
}
.mobile-menu-contacts {
  margin-bottom: 64px;

  & li:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu-contacts__phone a {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $hover-color;
  text-decoration: none;
}
.mobile-menu-contacts__email a {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $text-color;
}
.mobile-menu-socnetworks {
  & li:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 48px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  & a {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $hover-color;
    text-decoration: none;
    height: 100%;
  }
}
.mobile-menu__button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $body-background;
  border: none;
  &:hover,
  &:focus,
  &:active & svg {
    fill: $hover-color;
  }

  &-close-icon {
    display: none;
  }
}

@media (min-width: 481px) {
  .mobile-menu {
    display: none;
  }
}
